{% extends "base.html" %}
{% block content %}
<h2>Change Password</h2>
<form method="POST">
    {% if csrf_token %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {% endif %}
    <label>Old Password:</label>
    <input type="password" name="old_password" required>
    
    <label>New Password:</label>
    <input type="password" name="new_password" required>
    
    <button type="submit">Change Password</button>
</form>
<p><a href="{{ url_for('manage') }}">Back to Manage Account</a></p>
{% endblock %}

